.hero {
	background: white;
	background: linear-gradient(to top, #fff, $background);
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;

	@media screen and (min-width: $breakpoint_md) {
		height: 600px;
	}
}

.introduction h1 {
	font-size: 2rem;
	margin: 0;
	padding: 4rem 2rem;
	font-weight: 100;
	color: $text-color;
	transition: padding 1s ease;

	@media screen and (min-width: $breakpoint_sm) {
		font-size: 55px;
		padding: 0 2rem;
	}

	span {
		transform: translateY(2px);
		display: inline-block;
	}
}
