.introduction {
	padding: 40px;
	color: white;
	font-weight: 100;
}

.homepage main {
	background: $accent;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	@media (prefers-color-scheme: dark) {
		background: darken($accent, 15%);
	}

}
