<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ .Title }}</title>
	{{ $sass := resources.Get "scss/site.scss" }}
	{{ $style := $sass | resources.ToCSS }}
	<!--<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">-->
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
	<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
</head>
<body>
