<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="##2E3641"/>

	<title>{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}</title>

	<meta name="description" content="{{ $.Param "description" }}">
	<meta name="image" content="{{ $.Param "image" }}">

	<meta itemprop="name" content="{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}">
	<meta itemprop="description" content="{{ $.Param "description" }}">
	<meta itemprop="image" content="{{ $.Param "image" }}">

	<meta name="og:title" content="{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}">
	<meta name="og:description" content="{{ $.Param "description" }}">

	{{ $sass := resources.Get "scss/site.scss" }}
	{{ $style := $sass | resources.ToCSS }}
	<link rel="manifest" href="/manifest.json">
	<!--<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">-->
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

	<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
	<script defer>

        window.addEventListener('DOMContentLoaded', function() {

	        /* START MENU STUFF */
	        var $toggle_nav = document.getElementById('menu-release');
	        var $site_wrapper = document.getElementById('page-container');

	        $toggle_nav.addEventListener('click', function () {
	            $site_wrapper.classList.toggle('nav-open');
	        });
	        /* END MENU STUFF  */

	        /* START SW STUFF */
	        if('serviceWorker' in navigator) {
	            navigator.serviceWorker
	                .register('/sw.js', { scope: '/' })
	                .then(function(registration) {
	                    console.log('Service Worker Registered');
	                });

	            navigator.serviceWorker
	                .ready
	                .then(function(registration) {
	                    console.log('Service Worker Ready');
	                });
	        }
	        /* END SW STUFF */
        });
	</script>
</head>
<body>
