<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#2E3641"/>

	<title>{{ if .IsHome }}{{ .Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}</title>

	<meta name="name" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">

	{{ $description := "" }}

	{{ if (not (isset .Params "description")) | or (eq .Params.description "") }}
		{{ if(eq .Summary "" ) }}
			{{ $description = $.Params.description }}
		{{ else }}
			{{ $description = .Summary }}
		{{ end }}
	{{ else }}
		{{ $description = .Params.description }}
	{{ end }}

	{{ $description = ( $description | truncate 120 ) }}

	<meta name="image" content="{{ $.Param "image" }}">
	<meta name="description" content="{{ $description }}">

	<meta name="og:title" content="{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}">
	<meta name="og:description" content="{{ $description }}">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="{{ $description }}" />
	<meta name="twitter:title" content="James R. Williams - Web Developer" />
	<meta name="twitter:site" content="@James_RWilliams" />

	{{ $sass := resources.Get "scss/site.scss" }}
	{{ $style := $sass | resources.ToCSS }}
	<link rel="manifest" href="/manifest.json">
	<!--<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">-->
	<link rel="stylesheet" href="{{ $style.Permalink | relURL }}" media="screen">


	<script>

        window.addEventListener('DOMContentLoaded', function() {

	        /* START SW STUFF */
	        if('serviceWorker' in navigator) {
	            navigator.serviceWorker
	                .register('/sw.js', { scope: '/' })
	                .then(function(registration) {
	                    console.log('Service Worker Registered');
	                });

	            navigator.serviceWorker
	                .ready
	                .then(function(registration) {
	                    console.log('Service Worker Ready');
	                });
	        }
	        /* END SW STUFF */
        });
	</script>
</head>
<body class="{{ if .IsHome }}background{{ end }}">

{{ if .IsHome }}{{ else }}
{{ partial "site-header.html" }}
{{ end }}
