# Output directory
/public
# /resources Due to https://github.com/netlify/build-image/issues/182#issuecomment-464271271
.cache
/.env.*

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

## IDE Stuff
.idea

/.env

# GraphQl stuff
schema.graphql
