@import "vendor/_normalize";
@import "_variables";
@import "_mixins";

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #eee;
	color: #333;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-container {
	width: 100%;
	position: relative;
	flex-direction: column;
	display: flex;
	flex-grow: 1;
	height: 100%;

	@media only screen and (min-width: 960px) {
		padding-top: 0;
		flex-direction: row;
	}
}

main {
	flex-grow: 1;
	min-height: calc(100vh - 60px);
	overflow-y: scroll;
	position: relative;
	z-index: 1000;
	box-shadow: 0 0 1em rgba(0,0,0,.7);

}

@import 'partials/sidebar';
@import 'templates/post-single';
@import 'partials/typography';

img {
	max-width: 100%;
	height: auto;
}

.hero {
	padding: 40px;
	height: 250px;
}

.sidebar,
main {
	flex-grow: 1;
	margin: 0;
	height: 100%;
}

main {
	flex-basis: auto;
}

.inner {
	overflow: scroll;
	overflow-x: hidden;
	height: 100%
}

.about-me {
	padding: 15px;
}

.profile {
	max-width: 75px;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 0 0.5em rgba(0,0,0,.7);

	@media only screen and (min-width: 960px) {
		max-width: 100px;
	}
}

.bio {
	margin: 0;
	line-height: 1.5em;

	p {
		margin-bottom: 0;
	}
}

.name {
	font-size: 28px;
	margin: 0;
	font-weight: 300;
	display: inline-block;
	line-height: 75px;
	vertical-align: top;

	@media only screen and (min-width: 960px) {
		display: block;
		padding-top: 20px;
		line-height: inherit;
	}

	a {
		text-decoration: none;
	}
}

ul#topics {
	li a {
		text-transform: lowercase;
	}
}
