.home-page-container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 30px;
	background: transparent;
	border-bottom: 0;
}

section.hero {
	max-width: 620px;
	margin-bottom: 40px;
	transition: margin $animation-speed ease;
	margin-top: 5vh;

	@include media-query($breakpoint_sm) {
		margin-top: 10vh;
	}

	@include media-query($breakpoint_md) {
		margin-top: 25vh;
		margin-bottom: 80px;
	}

	h1 {
		margin-bottom: 0;
		font-size: 40px;
		transition: font-size $animation-speed ease;

		@include media-query($breakpoint_lg) {
			font-size: 50px;
		}
	}

	h2 {
		margin-bottom: 30px;
	}

	p {
		font-size: 16px;
		line-height: 1.4em;
	}

	a {
		color: $accent;
		font-weight: bold;

		&:hover {
			color: white;
		}
	}
}
