.post {

	&-content {
		padding: 2rem 1rem;
		font-size: 20px;
		color: $text-color;
		line-height: 32px;
		margin-bottom: 1.5em;
		font-family: $bodyFonts;

		@media screen and (min-width: $breakpoint_sm) {
			padding: 2rem;
		}

		p {
			margin-bottom: 1.5em;
		}

		& > :first-child {
			margin-top: 0;
			padding-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		a {
			color: $accent;
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-word;
			-ms-hyphens: auto;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $text-color;
			padding-bottom: 10px;
			padding-top: 10px;
			margin-top: 3rem;
			transition: margin-left .6s ease;
			margin-left: 30px;

			@media screen and (min-width: calc(830px + 6rem)) {
				margin-left: 0;
			}

			&:target {
				.hlink {
					opacity: 1;
					color: $accent;
				}
			}

			&:hover {
				.hlink {

				}
			}

			.hlink {
				color: inherit;
				text-decoration: none;
				position: absolute;
				width: 30px;
				font-weight: lighter;
				transform: translate(-100%);
				transition: opacity .4s ease;
				opacity: .55;
			}

			&[id] {
				padding-top: 100px;
				margin-top: -80px;
			}

			a {
				text-decoration: none;
			}

		}

		figure { float: none; }

	}
}

.tag {
	font-size: 14px;
	text-decoration: none;
	color: #444;
}

.post-footer {
	margin-top: 40px;
	padding-bottom: 40px;

	@include media-query($breakpoint_lg) {
		margin-top: 100px;
	}
}
