

.post-list {

	header {
		padding: 3rem 2rem;
		background: darken($primary, 10%);

		h1 {
			color: white;
			margin: 0;
		}
	}

	padding-bottom: 15px;

	h2 {
		margin-top: 5px;
		margin-bottom: 50px;
	}

	time {
		font-size: 16px;
		color: #444444;
	}

	a {
		color: #333333;
		text-decoration: none;
	}

	.post-link-prev:before {
		content: 'Newer posts';
	}

	.post-link-next:before {
		content: 'Older posts';
	}
}

.post-draft {
	background: rgba(#f00, 0.1);
}

.post-links {
	display: flex;
	flex-direction: column;

	@include media-query($breakpoint_lg) {
		flex-direction: row;
	}
}

.post-link {
	display: block;
	border: 1px solid rgba(#000, 0.1);
	text-decoration: none;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	color: inherit;
	text-align: center;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@include media-query($breakpoint_lg) {
		margin-bottom: 50px;
		padding: 20px 0;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;

		&:last-child {
			border-right: 0;
		}
	}

	&:before {
		display: block;
		font-size: 12px;
		color: #999;
		padding-bottom: 10px;
		text-transform: uppercase;
	}

	&-prev {

		@include media-query($breakpoint_lg) {
			text-align: left;
			border-right: 1px solid #ccc;
		}

		&:before {
			content: 'Older post';
		}
	}

	&-next {

		@include media-query($breakpoint_lg) {
			text-align: right;
		}

		&:before {
			content: 'Newer post';
		}
	}
}
