.post-list {

	ul.item-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.post-link-prev:before {
		content: 'Newer posts';
	}

	.post-link-next:before {
		content: 'Older posts';
	}
}

.post-links {
	display: flex;
	flex-direction: column;

	@include media-query($breakpoint_lg) {
		flex-direction: row;
	}
}

.post-link {
	display: block;
	border: 1px solid rgba(#000, 0.1);
	text-decoration: none;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	color: inherit;
	text-align: center;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@include media-query($breakpoint_lg) {
		margin-bottom: 50px;
		padding: 20px 0;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;

		&:last-child {
			border-right: 0;
		}
	}

	&-prev {}
	&-next {}
}
