{{ define "main" }}

<section class="hire">
	<div class="hero">
		<div class="container">
			<h1 id="animated">Let's build something awesome together<span class="accent">...</span></h1>
		</div>
	</div>
	<div class="container">
		<article class="content">

			<p>Have a project you think I could help with? Even if it's just an idea, I'd love see if there is anything I can help with. Here are some ways we can start an awesomely productive conversation about your project:</p>
			<ul>
				<li>You can fill in this lovely HubSpot form <a target="_blank" rel="noopener" href="https://share.hsforms.com/1pSjSUbjeS1S-qvOK9BPvNg2g2r5">this form</a>,</li>
				<li>Email me at <a href="mailto:project@jamesrwilliams.ca">project@jamesrwilliams.ca</a>, or</li>
				<li>You can find me on <a href="https://github.com/jamesrwilliams/">GitHub</a>, <a href="https://www.twitter.com/James_RWilliams">Twitter</a>, <a href="https://uk.linkedin.com/in/thejamesrwilliams">LinkedIn</a>, or even <a href="https://instagram.com/thejamesrwilliams">Instagram</a>.</li>
			</ul>
		</article>
	</div>
</section>

{{ end }}

