$fonts_body: 'Georgia', serif;
$fonts_heading:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$breakpoint_sm: 600px;
$headerHeight: 150px;

$brand_blue: #021526;
$brand_accent: #257ec0;
$brand_grey: #e9ecef;

$containerMax: 820px;
