footer {
	font-size: 14px;
	font-family: $fonts_heading;
	background-color: $brand_grey;
	text-align: center;
	display: flex;
	padding: .5rem 2rem;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (min-width: $breakpoint_sm) {
		flex-direction: row;
	}

	p {
		padding: 0;
		font-weight: bold;
		margin-bottom: 0;
		opacity: 1;
	}

	svg {
		fill: $brand_blue;
		width: 19px;
		vertical-align: middle;
	}

	nav {
		padding: 1rem 0;

		@media screen and (min-width: $breakpoint_sm) {
			text-align: right;
			padding: 0;
		}
	}

	.social a {
		display: inline-block;
		margin-right: 15px;

		@media screen and (min-width: $breakpoint_sm) {
			margin-left: 10px;
		}
	}
}
