.pt-4 { padding-top: 2rem; }

.mb-0 { margin-bottom: 0; }
.mb-2 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 2rem; }

.container {
	padding-left: 2rem;
	padding-right: 2rem;

	@media screen and (min-width: $containerMax) {
		padding-left: calc((100vw - #{960px}) / 2);
		padding-right: calc((100vw - #{960px}) / 2);
	}
}
