

.container {
	padding-left: 1rem;
	padding-right: 1rem;

	@media screen and (min-width: $containerMax) {
		padding-left: calc((100vw - #{960px}) / 2);
		padding-right: calc((100vw - #{960px}) / 2);
	}
}

.container-margin {
	margin-left: 0;
	margin-right: 0;
	padding-left: 2rem;
	padding-right: 2rem;

	@media screen and (min-width: $containerMax) {
		margin-left: calc((100vw - #{960px} - 2rem) / 2);
		margin-right: calc((100vw - #{960px} - 2rem) / 2);
	}
}

.pt-4 { padding-top: 2rem; }

.m-0 { margin: 0; }
.mb-0 { margin-bottom: 0; }
.mb-2 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 2rem; }

.list-none { list-style-type: none; }
