{{ partial "header.html" . }}

<main class="posts">

	<h1>James' Blog</h1>

	{{ $paginator := .Paginate (where .Pages "Type" "post") }}
	{{ range $paginator.Pages }}

	<article>
		<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
		<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Monday, January 2, 2006" }}</time>
		<div class="article-style">
			{{ if .Params.summary }}
			{{ .Params.summary | plainify | emojify }}
			{{ else if .Params.abstract }}
			{{ .Params.abstract | plainify | emojify | truncate 250 }}
			{{ else if .Summary }}
			{{ .Summary | plainify | emojify }}
			{{ end }}
		</div>
	</article>
{{ end }}
	{{ partial "pagination.html" . }}
</main>


{{ partial "footer.html" . }}

