{{ partial "header.html" . }}
<main>

	{{ partial "sub-nav.html" . }}

	<article class="post" id="content">
		<header class="post-header">
			<h1>{{ .Title }}</h1>
			<p>Posted on <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2 January, 2006" }}</time> - About a {{ .ReadingTime }} minute read.</p>
		</header>
		<div class="post-content">
			{{ .Content }}
		</div>
		<footer class="post-footer">
			<div class="post-links">
				{{ with .PrevInSection }}
				<a class="post-link post-link-prev" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
				{{ with .NextInSection }}
					<a class="post-link post-link-next" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
			</div>
		</footer>
	</article>

</main>

{{ partial "footer.html" . }}

