{{ partial "header.html" . }}

<main>
	<article class="post" id="content">
		{{ partial "post-header.html" . }}

		{{ partial "json-ld/blog-post" . }}
		<div class="post-content container" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
			{{ .Content }}
		</div>
		<footer class="post-footer">
			<div class="post-links container">
				{{ with .PrevInSection }}
				<a class="post-link post-link-prev" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
				{{ with .NextInSection }}
					<a class="post-link post-link-next" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
			</div>
		</footer>
	</article>
</main>

{{ partial "footer.html" . }}

