@import './src/styles/_variables.scss';

.post-meta {
	font-size: 16px;
	line-height: 1.4rem;
	font-family: $fonts_heading;
	background-color: #e9ecef;
	padding-bottom: 1rem;

	@media screen and (min-width: $breakpoint_sm) {
		padding-bottom: 2rem;
	}

	.published,
	.updated,
	.tags {
		display: inline-block;
		margin-right: 2rem;

		span {
			opacity: .5;
			text-transform: uppercase;
			font-size: 12px;
			display: block;
			font-weight: 600;
		}

		time {
			font-weight: 600;
			font-size: 14px;
		}
	}

}
