@import './src/styles/_base.scss';

.page-header {
	font-family: $fonts_heading;
	padding: 2rem 1rem;
	transition: padding 1s ease;

	@media screen and (min-width: ($containerMax + 31.5px)) {
		padding: 2rem 0;
	}

	h1 {
		font-size: 45px;
		word-break: keep-all;
	}

	&.draft-post {
		h1 {
			&:before {
				content: 'Draft';
				padding: 2px 10px;
				font-size: 12px;
				display: block;
				width: 70px;
				text-align: center;
				margin-right: .5rem;
				margin-bottom: .5rem;
				background: #DC071D;
				color: #fff;
				border-radius: 5px;
			}
		}
	}

	&-inner {
		padding: 2rem 1rem;

		@media screen and (min-width: $breakpoint_sm) {
			padding: 2rem;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

}
