@import './src/styles/_base.scss';

header {
	padding: 1rem 1rem 0 1rem;
	background: $brand_blue;
	font-family: $fonts_heading;
	position: relative;
	min-height: 65px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (min-width: $breakpoint_sm) {
		flex-direction: row;
		padding: 1rem 0 0;
	}

	@media screen and (min-width: $breakpoint_sm) {
		padding: 1rem 2rem;
	}

	nav a:first-child {
		margin-left: -.5rem;
	}

	a {
		color: #fff;
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: 600;
		font-size: 14px;
		display: inline-block;
		padding: 5px 10px 5px;
		transition: opacity 1s ease;
		border-top-right-radius: 10px;
		vertical-align: bottom;
		border-top-left-radius: 10px;

		@media screen and (min-width: $breakpoint_sm) {
			border-radius: 25px;
			padding: 0 15px;
			margin: 0 0 0 15px;
		}

		&:focus {
			border-color: $brand_grey;
			outline: 0;
		}

		&:hover {
			background: #fff5;
		}



		&.search-icon {
			position: relative;
			height: 42px;
			float: right;
			width: 42px;

			@media screen and (min-width: $breakpoint_sm) {
				height: 36px;
			}

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -11px;
				margin-left: -12px;
				display: inline-block;
				vertical-align: center;
				height: 23px;
				fill: #fff;
			}

			&:hover {
				svg {
					fill: $brand_blue;
				}
			}
		}

		&.active {
			background: #e9ecef;
			color: $brand_blue;

			svg { fill: $brand_blue; }

			&:focus {
				background: $brand_blue;
				color: #fff;

				svg { fill: #fff; }
			}
		}
	}
}

.site-profile {
	display: inline-block;
	text-decoration: none;
	position: relative;
	padding: 0 25px 0 50px;
	margin-bottom: 1rem;
	margin-left: 0;
	border-radius: 27px;

	@media screen and (min-width: $breakpoint_sm) {
		padding: 0 25px 0 50px;
		margin-bottom: 0;
	}

	&:before {
		content: '';
		display: inline-block;
		background-image: url(https://www.gravatar.com/avatar/b2623db89a42dd363c33d1d4df39654a?s=100);
		background-size: cover;
		height: 31px;
		border-radius: 100%;
		width: 31px;
		position: absolute;
		left: 0;
		bottom: 1px;
		top: 1px;
	}
}
