.mb-1 { margin-bottom: 1rem; }
.mr-1 { margin-right: 1rem; }
.ml-1 { margin-left: 1rem; }

.fs-1 { font-size: 1rem; }
.fs-2 { font-size: 2rem; }
.fs-3 { font-size: 3rem; }
.fs-4 { font-size: 4rem; }

.translucent { opacity: .5; }

.draft {
	opacity: .4;
	background: rgba(#f00, 0.1);
}
