/* Colours */
$accent: #688BC4;
$primary: #1D2737;

$radius: 5px;

$animation-speed: 0.7s;

/* Breakpoint controls (see _mixins.sass) */
$breakpoint_sm: 500px;
$breakpoint_md: 660px;
$breakpoint_lg: 960px;
