@import "vendor/_normalize";
@import "_variables";
@import "_mixins";

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	padding: 0;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	@include media-query($breakpoint_lg){
		font-size: 18px;
	}
}

main {
	$bg: #181818;
	$pr: #fff;

	width: 100%;
	position: relative;
	font-size: 16px;
	height: 100%;
	max-height: 100%;
	overflow: scroll;
	background-color: darken($primary, 5%);

	> section,
	> article {
		width: 100%;
	}
}

aside {
	width: 70px;
	height: 100%;
	color: black;
	background: #1D2737;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(0,0,0,0.2);

	.site-logo {
		svg {
			margin: 10px;
		}
	}

	a {
		display: inline-block;
	}

	.spacer {
		flex-grow: 1;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;

		li {
			padding-bottom: 0;
		}

		li:not(:first-child) {
			border-top: 1px solid rgba(0,0,0,0.2);
		}

		li a {
			display: inline-block;
			color: #444;
			width: 100%;
			font-size: .7rem;
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px;
			font-weight: bold;
		}
	}

}

.introduction {
	padding: 40px;
	background: darken($primary, 5%);
	color: white;
	font-weight: 100;
}

@import 'templates/post-single';
@import 'templates/post_list';
@import 'templates/404';
@import 'templates/offline';

@import 'shortcodes/alert';

@import 'partials/post-header';
@import 'partials/post-inline';
@import 'partials/site-header';
@import 'partials/typography';

img {
	max-width: 100%;
	height: auto;
}

ul.social {
	list-style: none;
	margin: 50px 0 0 0;
	padding: 0;
	text-align: center;
	transition: all $animation-speed ease;

	li {
		display: inline-block;

		&:hover {
			svg { fill: $accent; }
		}
	}

	svg {
		width: 24px;
		fill: white;
	}

	a {
		display: block;
	}
}
