@import "vendor/_normalize";
@import "_variables";
@import "_mixins";
@import "_utilities";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	text-rendering: optimizeLegibility;
}

html,
body {
	margin: 0;
	height: 100%;
	font-family: $headingFonts;
}

body {
	display: flex;
	flex-direction: column;
	flex-basis: 70px;
	font-size: 16px;
}

article.content {
	font-size: 20px;
	color: $text-color;
	line-height: 32px;
	font-family: $bodyFonts;
	padding: 2rem;

	> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}

	> *:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

main {
	width: 100%;
	position: relative;
	font-size: 16px;
	background-color: $background;

	> header {
		display: flex;

		@include media-query($breakpoint_lg) {
			flex-direction: column;
			background: $sidebar-color;
		}
	}
}

article > header,
section > header {
	background: #fff;
	padding-top: 4rem;
	transition: padding 1s ease;

	@media screen and (min-width: $breakpoint_sm) {
		padding-top: 200px;
	}

	h1 {
		color: $text-color;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		font-size: 3rem;
		padding-bottom: 2rem;
		margin: 0;
	}
}

.container {
	max-width: calc(860px + 2rem);
	transition: width 1s ease;
	margin: 0 auto;
}

// Syntax Highlighting Block
.highlight {
	width: 100%;
	transition: all .7s ease;
	position: relative;
	overflow: hidden;
	line-height: 1.1em;

	pre {
		padding: 2rem;
		margin-top: 0;
		border-radius: $radius;
		background-color: #1B1917 !important;
		transition: all .7s ease;
	}
}

@import 'templates/post-single';
@import 'templates/post_list';

@import 'pages/404';
@import 'pages/offline';
@import 'pages/homepage';
@import 'pages/hire';

@import 'shortcodes/alert';
@import 'shortcodes/search';

@import 'partials/post-header';
@import 'partials/post-inline';
@import 'partials/navigation';
@import 'partials/typography';
@import 'partials/footer';

img {
	max-width: 100%;
	height: auto;

	@media (prefers-color-scheme: dark) {
		opacity: .75;
		transition: opacity .5s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}

.social {
	li a {
		max-width: 50px;
	}
}
