@import "vendor/_normalize";
@import "_variables";
@import "_mixins";

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	padding: 0;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #181818;
	@include media-query($breakpoint_lg){
		font-size: 18px;
	}
}

aside {
	background: #fff;
}

main {
	$bg: #181818;
	$pr: #fff;

	position: relative;
	display: flex;
	font-size: 16px;
	height: 100%;
	flex-grow: 1;
	max-height: 100%;
	overflow: scroll;
	border: 1px solid #eee;
}

aside {
	width: 220px;
	height: 100%;
	color: black;
	background: white;
	display: flex;
	flex-direction: column;

	a {
		display: inline-block;
		border-bottom: 1px solid #eee;
	}

	svg {
		margin: 82px 40px 82px;
	}

	.spacer {
		flex-grow: 1;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;

		li {
			padding-bottom: 0;
		}

		li:not(:first-child) {
			border-top: 1px solid #eee;
		}

		li a {
			display: inline-block;
			color: #ddd;
			width: 100%;
			font-size: .7rem;
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px;
			font-weight: bold;
		}
	}

}

.homepage {
	padding: 40px
}

@import 'templates/post-single';
@import 'templates/post_list';
@import 'templates/404';
@import 'templates/offline';

@import 'shortcodes/alert';

@import 'partials/post-header';
@import 'partials/post-inline';
@import 'partials/site-header';
@import 'partials/typography';

.background {
	color: #eeeeee;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	display: flex;
}

ul.social {
	list-style: none;
	margin: 50px 0 0 0;
	padding: 0;
	text-align: center;
	transition: all $animation-speed ease;

	@include media-query($breakpoint_sm) {
		text-align: left;
	}

	li {
		display: inline-block;

		&:hover {
			svg { fill: $accent; }
		}

		&:not(:last-child) {
			margin-right: 20px;

			@include media-query($breakpoint_sm) {
				margin-right: 25px;
			}
		}
	}

	svg {
		width: 24px;
		fill: white;
	}

	a {
		display: block;
	}
}
