{{ define "main" }}

<main class="error404 background">
	<div class="hero">
		<div class="container">
			<h1><span class="accent">404</span> Page Not Found<span class="accent">!</span></h1>
		</div>
	</div>
	<article class="container content">
		<p>The page you are looking for does not exists. Please check your URL address or vist my <a href='{{ "/" | relURL }}'>homepage</a> or try my <a href='{{ "/blog/" | relURL }}'>blog.</a> or take a peak at some of my latest posts:</p>
	</article>
</main>

{{ end }}
