{{ define "main" }}
	<section class="introduction" id="introduction">
		<h1>I'm <span class="accent">James Williams</span>.</h1>
		<p>I'm a British web developer working in Toronto. Focusing on building, delightfully fast and engaging digital projects. I spend my spare time building apps with Ionic and Angular. Check out some of my work on <a rel="noopener" href="https://github.com/jamesrwilliams">GitHub</a>, my occasional write ups of interesting tech can be found on my <a href="/blog/">blog</a>, or take a look at my <a target="_blank" rel="noopener" href="/cv/">CV</a>.</p>
	</section>
{{ end }}
