@import './src/styles/_base.scss';

.post-header {
	background: $brand_blue;
	color: white;
	font-family: $fonts_heading;
	padding-left: 2rem;
	transition: padding 1s ease;

	@media screen and (min-width: 860px) {
		padding-left: 0;
	}

	&-inner {
		padding: 2rem 1rem;

		@media screen and (min-width: $breakpoint_sm) {
			padding: 2rem;
		}
	}

	.container {
		position: relative;
		z-index: 300;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.meta {
		font-size: 16px;
		line-height: 1.4rem;

		.published,
		.updated,
		.tags {
			display: inline-block;
			margin-right: 2rem;

			span {
				opacity: .5;
				text-transform: uppercase;
				font-size: 12px;
				display: block;
				font-weight: 600;
			}
		}

	}
}
