@import './src/styles/_base.scss';

.post-header {
	background: $brand_blue;
	color: white;
	font-family: $fonts_heading;

	&:after {
		content: '';
		display: block;
		height: 4px;
		width: 100%;
		background: #00F260;
		background: -webkit-linear-gradient(to left, $brand_blue, #00F260);
		background: linear-gradient(to left, $brand_blue, #00F260);
	}

	&-inner {
		padding: 2rem 1rem;

		@media screen and (min-width: $breakpoint_sm) {
			padding: 2rem;
		}
	}

	.container {
		position: relative;
		z-index: 300;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.meta {
		font-size: 16px;
		line-height: 1.4rem;

		.published,
		.updated,
		.tags {
			display: inline-block;
			margin-right: 2rem;

			span {
				opacity: .5;
				text-transform: uppercase;
				font-size: 12px;
				display: block;
				font-weight: 600;
			}
		}

	}
}
