.breadcrumbs {
	top: 0;
	left: 50px;
	z-index: 500;
	padding: 1.5rem;
	//border: 1px solid red;

	ol {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;

			&:first-child {
				a { padding-left: 0; }
			}

			a {
				padding: 0 10px;
				color: white;
				font-size: 14px;
				text-decoration: none;
			}

			&:not(:last-child) {
				border-right: 1px solid #444;
			}
		}
	}
}
