.breadcrumbs {
	height: 70px;
	top: 0;
	background: #1D2737;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	position: fixed;
	width: 100%;
	z-index: 500;

	ol {
		margin: 0;
		li {
			display: inline-block;
			color: white;

			a {
				padding: 0 10px;
			}

			&:not(:last-child) {
				border-right: 1px solid red;
			}
		}
	}
}
