.breadcrumbs {
	padding: 1rem;
	font-family: $headingFonts;
	width: 100%;

	@include media-query($breakpoint_lg) {
		padding: 1.5rem;
		text-align: left;
	}

	ol {
		margin: 0;
		padding: 0;
		font-size: 0;

		li {
			display: block;
			font-size: 1rem;

			&:last-child {
				display: none;
			}

			@include media-query($breakpoint_lg) {
				display: inline-block;
			}

			a {
				padding: 5px 10px;
				color: $text-color;
				font-size: 1rem;
				text-decoration: none;
				border: 1px solid transparent;
				transition: border 1s ease;
				border-radius: 2px;

				&:hover {
					border-bottom: 1px solid lighten($text-color, 50%);
				}
			}

			&:not(:last-child):after {
				content: '/';
				width: 10px;
				text-align: center;
				color: lighten($text-color, 70%);
				display: inline-block;
			}
		}
	}
}
