.call-to-action {
	position: absolute;
	right: 15px;
	top: 15px;

	a {
		display: inline-block;
		padding: 5px 30px;
		text-decoration: none;
		color: $text-color;
		background: #00F260;
		//border: 1px solid $text-color;
		border-radius: 10px;
	}
}
