.post-header {
	padding: 5vh 30px 30px;
	color: white;
	position: relative;
	z-index: 300;

	.container {
		position: relative;
		z-index: 300;
	}

	h1 {
		font-weight: 100;
		letter-spacing: 0.1rem;
		-webkit-font-smoothing: antialiased;
		font-size: 5rem;
	}

	a {
		text-decoration: none;
	}
}
