article.post-inline {

	h2,
	time {
		font-size: 16px;
		color: lighten($text-color, 10%);
	}

	h2 {
		margin-bottom: 0;
	}

	a {
		color: $text-color;
		text-decoration: none;
		display: block;
		padding: 1rem;
		font-weight: 300;
		opacity: 1;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}
