.post-header {
	color: white;
	z-index: 300;
	background: #181818;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 3rem 0;

	.container {
		position: relative;
		z-index: 300;
	}

	h1 {
		font-weight: 100;
		margin: 0;
		letter-spacing: 0.1rem;
		-webkit-font-smoothing: antialiased;
		font-size: 3rem;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.meta {
		font-size: 14px;
	}
}
