.post-header {
	padding: 5vh 0 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
	color: white;
	position: relative;
	z-index: 300;

	.container {
		position: relative;
		z-index: 300;
	}

	&:before {
		content: '';
		display: block;
		height: 75px;
		width: 100%;
		background: rgba(255,255,0,0.3);
		background: url("../icon.svg");
		background-position: bottom left;
		opacity: 0.5;
		pointer-events: none;
		position: absolute;
		bottom: 0;
		transform: rotate(180deg);
		z-index: 100;
	}

	h1 {
		font-weight: 200;
		letter-spacing: 0.1rem;
		margin: 1.5em 0;
		-webkit-font-smoothing: antialiased;

		@include media-query($breakpoint_lg) {
			margin: 0.6em 0 0.8em 0;
		}
	}

	p {
		margin: 0;
		font-size: 12px;
		line-height: 1.5em;
		background: white;
		max-width: 75%;
		color: #0E141A;
		display: inline-block;
		padding: 8px 10px 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	a {
		font-size: 14px;
		font-weight: bold;
		color: darken( $accent, 10% );
		text-transform: uppercase;
		text-decoration: none;
	}
}
