article.post-inline {

	h2,
	time {
		font-size: 16px;
	}

	&:first-child {
		padding-top: 50px;
	}

	time {
		font-size: 14px;
		font-weight: bold;
	}

	a {
		color: darken($accent, 10%);
		text-decoration: none;
		font-weight: 300;
	}

	&:first-child {
		@include media-query($breakpoint_lg) {
			padding-top: 50px;
		}
	}
}
