article.post-inline {

	&:first-child {
		padding-top: 50px;
	}

	h2 {
		margin-top: 5px;
		margin-bottom: 50px;
	}

	time {
		font-size: 14px;
		color: #444444;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		color: darken($accent, 10%);
		text-decoration: none;
		font-weight: 300;
	}

	&:first-child {
		@include media-query($breakpoint_lg) {
			padding-top: 50px;
		}
	}
}
