aside {
	height: 100%;
	background: $sidebar-color;
	display: flex;
	flex-direction: column;
	border-right: $subtle-border;
	margin-left: 5px;
	flex: 0 0 70px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 5px;
		margin-left: -5px;
		top: 0;
		bottom: 0;
		background: #c31432;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	@media (prefers-color-scheme: dark) {
		background: $sidebar-color_dark;
	}

	.site-logo {
		transition: background-color 1s ease;

		svg {
			width: 70%;
			height: 70%;
			margin: 15%;
		}

		#Shape,
		#Path {
			fill: $text-color;
			transition: all 1s ease-in;
			transform-origin: 50% 120%;
		}

		&:hover {

			#Path {
				transform: scale(2);
			}

			#Shape {
				transform: rotate(720deg) scale(.5);
			}
		}
	}

	a {
		display: inline-block;
	}

	.spacer {
		flex-grow: 1;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;

		li {
			padding-bottom: 0;
		}

		li:not(:first-child) {
			border-top: 1px solid rgba(0,0,0,0.2);
		}

		li a {
			display: inline-block;
			color: #444;
			width: 100%;
			font-size: .7rem;
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px;
			font-weight: bold;
		}
	}
}

ul.social {
	list-style: none;
	padding: 0;
	text-align: center;
	transition: all $animation-speed ease;
	width: 40px;
	margin: 0 auto 15px;

	li {
		display: inline-block;

		&:hover {
			svg { fill: #240b36; }
		}
	}

	svg {
		width: 100%;
		margin: 0;
		fill: $text-color;
		transition: fill 1s ease;
	}

	a {
		display: block;
	}
}

.site-profile {
	display: flex;
	width: 100%;
	height: 69px;
	overflow: hidden;

	img {
		border-radius: 100%;
		border: 1px solid #fff;
		margin: 10px;
		flex-grow: 1;
		opacity: 1;
	}
}
