nav.site-header {
	padding: 15px 0;
	position: relative;
	z-index: 300;

	ul.social {
		display: inline-block;
		float: right;
		margin-top: 0;

		li {
			margin-right: 0;
			margin-left: 15px;

			@include media-query($breakpoint_lg) {
				margin-left: 25px;
			}
		}

		svg {
			width: 16px;
			@include media-query($breakpoint_lg) {
				width: 20px;
			}
		}
	}

	.links {
		float: right;
		width: 50%;
	}

	.about {
		display: inline-block;
		width: 50%;

		a {
			color: $accent;
			text-decoration: none;
		}
	}
}
