code {
	position: relative;
	top: -1px;
	font-weight: 100;
	margin: 0 0 0 1px;
	font-size: 14px;
	background: $accent;
	padding: .3rem .4rem .1rem .4rem;
	border-radius: .2rem;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFonts;
}

a {
	color: $primary;

	&:hover {
		color: $newBlue;
	}
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	line-height: 1.4em;
	background: rgba($gradient_start, .07);
	box-shadow: inset 0 0 2rem 0px rgba(#000, .05);
	padding: 2rem;
	position: relative;
	border-radius: $radius;

	> * {
		margin: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

pre {
	overflow: scroll;
	padding: 15px 25px;

	code {
		background: none;
		font-family: 'Source Code Pro', monospace;
		padding: .2rem .4rem .1rem 0;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-variant-numeric: tabular-nums;
	}
}

figure {
	padding: 0;
	margin: 0;
	text-align: center;

	@include media-query($breakpoint_md) {
		padding: 1em 0;
	}

	&.float-right {
		margin-left: 0;

		@include media-query($breakpoint_md) {
			float: right;
			margin-left: 5%;
		}
	}

	&.float-left {
		margin-right: 0;

		@include media-query($breakpoint_md) {
			float: left;
			margin-right: 5%;
		}
	}

	figcaption {

		font-style: italic;
		font-size: .9rem;
		margin-left: 15px;

		h4 {
			margin: 0;
			padding: 0;
		}
		p {
			margin-top: 0;
		}
	}
}

ul,
ol {
	li {
		padding-bottom: 1.5rem;
	}
}

table {
	border-collapse: collapse;

	th,td { border: $subtle-border; padding: 5px; }
}
