code {
	position: relative;
	top: -1px;
	font-weight: 100;
	margin: 0 0 0 1px;
	font-size: 90%;
	background: $accent;
	padding: .3rem .4rem .1rem .4rem;
	border-radius: .2rem;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFonts;
}

a {
	color: $primary;

	&:hover {
		color: $newBlue;
	}
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	line-height: 1.4em;
	background: rgba($brightRed, .05);
	padding: 1rem;
	position: relative;

	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;

	@include media-query($breakpoint_md) {
		width: 90%;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 2px;
		background: #c31432;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, darken(#c31432, 15%), #c31432);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, darken(#c31432, 15%), #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	> * {
		margin: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

pre {
	overflow: scroll;
	padding: 15px 25px;

	code {
		background: none;
		font-family: 'Source Code Pro', monospace;
		padding: .2rem .4rem .1rem 0;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-variant-numeric: tabular-nums;
	}
}

figure {
	padding: 0;
	margin: 0;
	text-align: center;

	@include media-query($breakpoint_md) {
		padding: 1em 0;
	}

	&.float-right {
		margin-left: 0;

		@include media-query($breakpoint_md) {
			float: right;
			margin-left: 5%;
		}
	}

	&.float-left {
		margin-right: 0;

		@include media-query($breakpoint_md) {
			float: left;
			margin-right: 5%;
		}
	}

	img {
		border-radius: $radius;
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	}

	figcaption {

		font-style: italic;
		font-size: .9rem;
		margin-left: 15px;

		h4 {
			margin: 0;
			padding: 0;
		}
		p {
			margin-top: 0;
		}
	}
}

ul {
	li {
		padding-bottom: 5px;
	}
}

table {
	border-collapse: collapse;

	th,td { border: $subtle-border; padding: 5px; }
}
