main.error404 {
	background: transparent;

	header {
		padding: 20px 0;
		color: #ffffff;

		p {
			font-size: 18px;
			color: white;

			@include media-query($breakpoint_lg){
				font-size: 24px;
			}

			a {
				color: $accent;
				text-decoration: none;
			}
		}

		@include media-query($breakpoint_lg) {
			padding: 20px;
		}
	}

	article.post-inline time {
		color: #ffffff;
	}

	h1 {
		font-size: 35px;

		@include media-query($breakpoint_lg) {
			font-size: 80px;
			text-align: left;
		}
	}
}
