main.error404 {

	header {
		padding: 20px 0;
		background: $accent;
		margin-bottom: 20px;

		p {
			font-size: 18px;
			color: white;

			@include media-query($breakpoint_md){
				font-size: 24px;
			}

			a {
				color: $primary;
				text-decoration: none;
			}
		}

		@include media-query($breakpoint_md) {
			padding: 20px;
		}
	}

	h1 {
		font-size: 35px;
		color: $primary;
		text-align: center;

		@include media-query($breakpoint_md) {
			font-size: 80px;
			text-align: left;
		}
	}
}
