.post {
	background: #eeeeee;

	&-content {
		line-height: 1.7em;

		& > :first-child {
			margin-top: 0;
			padding-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		ol,
		ul {
			padding-left: 20px;
		}

		@include media-query($breakpoint_md) {
			padding-right: 40px;
			padding-top: 30px;
			min-height: calc(100vh - 500px);
		}

		a {
			color: darken($accent, 10%);
			/* These are technically the same, but use both */
			overflow-wrap: break-word;
			word-wrap: break-word;

			-ms-word-break: break-all;
			word-break: break-word;
			-ms-hyphens: auto;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {

			padding-top: 15px;

			&:target {
				color: $accent;
			}
		}

		figure { float: none; }

		.post-link-next:before {
			content: 'Next Post';
		}

		.post-link-prev:before {
			content: 'Previous post';
		}
	}
}

.tag {
	font-size: 14px;
	text-decoration: none;
	color: #444;
}

.post-footer {
	margin-top: 40px;
	padding-bottom: 40px;

	@include media-query($breakpoint_md) {
		margin-top: 100px;
	}
}
