.post body {

}

.post {
	position: relative;

	&-header {
		background: #fff;
		padding: 20px 15px;
		margin-bottom: 20px;
		box-shadow: 0 0 0.5em rgba(0,0,0,.1);

		@include media-query($breakpoint_md) {
			padding: 40px;
			margin-bottom: 0;
		}

		p {
			margin: 0;
		}

		h1 {
			font-weight: 400;
		}
	}

	&-content {
		max-width: 800px;
		line-height: 1.5em;
		margin-left: 15px;

		// Give the absolute footer plenty of room.
		padding-bottom: 150px;
		padding-right: 15px;

		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}

		@include media-query($breakpoint_md) {
			padding-right: 40px;
			padding-top: 30px;
			margin-left: 40px;
			min-height: calc(100vh - 300px);
		}

		a {
			color: $accent;
		}
	}

	&-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

}

.tag {
	font-size: 14px;
	text-decoration: none;
	color: #444;
}

.post-footer {

}

.post-links {
	display: flex;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.post-link {
	display: block;
	text-decoration: none;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0;
	color: inherit;

	&:last-child {
		border-right: 0;
	}

	&:before {
		display: block;
		font-size: 12px;
		color: #999;
		padding-bottom: 10px;
		text-transform: uppercase;
	}

	&-prev {
		padding: 15px;
		border-right: 1px solid #ccc;

		@include media-query($breakpoint_md) {
			padding-left: 40px;
		}

		&:before {
			content: 'Previous post';
		}

	}

	&-next {
		text-align: right;
		padding: 15px;

		@include media-query($breakpoint_md) {
			padding-right: 40px;
		}

		&:before {
			content: 'Next post';
		}
	}
}
