.post-list {

	h2 {
		margin-top: 5px;
		margin-bottom: 50px;
	}

	time {
		font-size: 16px;
		color: #444444;
	}

	a {
		color: darken($accent, 10%);
		text-decoration: none;
	}
}

.post-link {
	margin-bottom: 50px;

	&-prev {
		padding: 15px 0;
		border-right: 1px solid #ccc;

		&:before {
			content: 'Newer posts';
		}
	}

	&-next {
		text-align: right;
		padding: 15px 0;

		&:before {
			content: 'Older posts';
		}
	}
}
