<script type="application/ld+json">
	{ "@context": "http://schema.org",
		"@type": "BlogPosting",
		"headline": "{{ .Title }}",
		"image": [
			"{{ .Site.Params.Image | absURL }}"
		],
		"mainEntityOfPage": "{{ .Permalink }}",
		"wordcount": "{{ .Content | countwords }}",
		"url": "{{ .Permalink }}",
		"datePublished": "{{ .PublishDate }}",
		"dateModified": "{{ .Lastmod }}",
		"description": "{{ .Description }}",
		"author": {
			"@type": "Person",
			"name": "{{ .Site.Params.Author }}"
		},
		"publisher": {
			"@type": "Person",
			"name": "James R. Williams",
			"logo": {
				"@type": "ImageObject",
				"url": "https://google.com/logo.jpg"
			}
	}
</script>
