{{ define "main" }}
<section class="offline">
	<div class="hero">
		<div class="container">
			<h1>You are offline<span class="accent">!</span></h1>
		</div>
	</div>
	<div class="container">
		<article class="content">

			<p>Congratulations you digital nomad, or adventurer of airplane mode. Sadly this current network situation means you cannot view this page as it's not saved in the site cache and you are offline. You should try to find some internet connection to browse here or give the <a href='{{ "/" | relURL }}blog/'>posts</a> page a visit?</p>
		</article>
	</div>
</section>
{{ end }}
