.post-header {
	background: white;
	padding: 25px 0 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	@include media-query($breakpoint_md) {
		padding: 30px;
		margin-bottom: 0;
	}

	h1 {
		font-weight: bold;
		margin: 0.6em 0 0.6em 0;

		@include media-query($breakpoint_md) {
			margin: 0.6em 0 0.8em 0;
		}
	}

	p {
		margin: 0;
		font-size: 14px;
		line-height: 1.5em;
		color: #444444;

		@include media-query($breakpoint_md) {
			font-size: 16px;
		}
	}

	a {
		font-size: 14px;
		font-weight: bold;
		color: darken( $accent, 10% );
		text-transform: uppercase;
		text-decoration: none;
	}
}
