section.sidebar {
	background: #2E3641;
	color: #fff;
	font-size: 14px;
	min-width: 200px;
	flex: 0 0 230px;
	position: relative;
	height: 100vh;
	overflow-y: scroll;

	@media only screen and (min-width:960px) {
		min-width: 280px;
	}

	a { color: #fff; }

	ul {
		font-size: 14px;
		margin: 25px 0 0;
		padding: 0;
		list-style: none;

		h6 {
			padding: 10px 0 10px 15px;
			margin: 0;
			font-size: 14px;
			background: rgba(0,0,0,0.1);
		}

		li {
			position: relative;

			a {
				display: block;
				text-decoration: none;
				padding: 10px 15px 10px 15px;

				&:hover {
					background: rgba(0, 0, 0, 0.3);
				}
			}

			&.has-icon {
				svg {
					display: inline-block;
				}
			}

			svg {
				display: none;
				margin-right: 15px;
				width: 15px;
				transform: translateY(2px);
				height: 15px;
				fill: white;
			}
		}
	}
}

.about-me {
	padding: 15px;
}

.profile {
	max-width: 150px;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 0 0.5em rgba(0,0,0,.7);

}

.bio {
	margin: 0;
	color: rgba(#fff, 0.8);
	line-height: 1.5em;
}

.name {
	font-size: 28px;
	margin: 0;
	font-weight: 300;
	padding-top: 20px;

	a {
		text-decoration: none;
	}
}

.hero {
	background: #000;
	position: relative;
	color: white;
	background: linear-gradient(to bottom right, #000428, #004e92);
	padding: 40px;
	height: 250px;
	z-index: 50;

	canvas.particles-js-canvas-el {
		position: absolute;
		z-index: 10;
		pointer-events: none;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}


