.sidebar {
	background: $secondary;
	color: #fff;
	font-size: 14px;
	min-width: 200px;
	padding-bottom: 60px;
	flex: 0 0 230px;
	overflow-y: scroll;
	transition: all 1s ease;
	transform: translateX(0);
	position: absolute;
	left: -80vw;
	width: 80vw;
	bottom: 0;
	top: 45px;
	z-index: 5000;
	box-shadow: 0;

	@media only screen and (min-width: 960px) {
		min-width: 280px;
		left: 0;
		top: 0;
		position: relative;
		width: 350px;
		transform: translateX(0);
		box-shadow: none;
	}

	a { color: #fff; }

	ul {
		font-size: 14px;
		margin: 25px 0 0;
		padding: 0;
		list-style: none;

		h6 {
			padding: 10px 0 10px 15px;
			margin: 0;
			font-size: 14px;
			background: rgba(0,0,0,0.1);
		}

		li {
			position: relative;

			a {
				display: block;
				text-decoration: none;
				padding: 10px 15px 10px 15px;

				&:hover {
					background: rgba(0, 0, 0, 0.3);
				}
			}

			&.has-icon {
				svg {
					display: inline-block;
				}
			}

			svg {
				display: none;
				margin-right: 15px;
				width: 15px;
				transform: translateY(2px);
				height: 15px;
				fill: white;
			}
		}
	}

	&-footer {
		font-size: 12px;
		padding: 15px 15px 0.0px;
		position: absolute;
		line-height: 1.4em;
		text-align: left;
		bottom: 0;
		left: 0;
		font-weight: 500;
		color: #fff;
		right: 0;
	}
}

.about-me {
	padding: 15px;
}

.profile {
	max-width: 150px;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 0 0.5em rgba(0,0,0,.7);

}

.bio {
	margin: 0;
	color: rgba(#fff, 0.8);
	line-height: 1.5em;
}

.name {
	font-size: 28px;
	margin: 0;
	font-weight: 300;
	padding-top: 20px;

	a {
		text-decoration: none;
	}
}

ul#topics {
	li a {
		text-transform: lowercase;
	}
}
