code {
	background: #fff;
	padding: 0 5px 2px;
	border-radius: 4px;
	position: relative;
	top: -1px;
	font-weight: bold;
	margin: 0 3px 0 1px;
	font-size: 90%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

pre {
	margin-left: -40px;
	margin-right: -40px;
	padding: 40px;
	color: white;
	overflow: scroll;

	code {
		background: none;
	}
}
