code {
	position: relative;
	top: -1px;
	margin: 0 0 0 1px;
	font-size: 90%;
	background: white;
	padding: .2rem .4rem .1rem .4rem;
	border-radius: .2rem;
}

blockquote {
	font-style: italic;
	color: darken($accent, 10%);
	margin-left: 0;
	margin-right: 0;
	font-size: 1.4em;
	line-height: 1.4em;
	max-width: 100%;
}

pre {
	overflow: scroll;
	padding: 15px 25px;

	code {
		background: none;
		padding: .2rem .4rem .1rem 0;
	}
}

.accent {
	color: $accent;
}

figure {

	padding: 0;
	margin: 0;
	text-align: center;

	@include media-query($breakpoint_sm) {
		padding: 1em 0;
	}

	&.float-right {
		margin-left: 0;

		@include media-query($breakpoint_sm) {
			float: right;
			margin-left: 5%;
		}
	}

	&.float-left {
		margin-right: 0;

		@include media-query($breakpoint_sm) {
			float: left;
			margin-right: 5%;
		}
	}

	img {
		border-radius: $radius;
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	}

	figcaption {

		font-style: italic;
		font-size: .9rem;
		margin-left: 15px;

		h4 {
			margin: 0;
			padding: 0;
		}
		p {
			margin-top: 0;
		}
	}
}

ul {
	li {
		padding-bottom: 5px;
	}
}
