code {
	border-radius: 4px;
	position: relative;
	top: -1px;
	font-weight: bold;
	margin: 0 3px 0 1px;
	font-size: 90%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.highlight {
	margin-left: -5%;
}

blockquote {
	font-style: italic;
	color: darken($accent, 10%);
	margin-left: -5%;
	font-size: 1.4em;
	line-height: 1.4em;
	max-width: 90%;
}

pre {
	overflow: scroll;
	padding: 15px;

	code {
		background: none;
	}
}

.accent {
	color: $accent;
}
